{% extends 'base.html.twig' %}

{% block title %}Decks{% endblock %}

{% block body %}
<h1>Decks List</h1>
<ul>
    {% for deck in decks %}
    <li> <a href="{{ path('deck_show', {'id': deck.id}) }}">{{deck.getDname()}} </a></li>
    {% endfor %}
</ul>

{% endblock %} 
