{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}

{% block body %}
<h1>Cards List</h1>
<table>
    <thead>
        <tr>
            <th> card_name </th>
            <th> card_class </th>
            <th> &nbsp </th>
        </tr>
    </thead>
    <tbody>
    {% for card in cards %}
        <tr> 
            <td> {{card.getCardName()}} </td>
            <td> {{card.getCardClass()}} </td>
            <td> <a href="{{ path('CardControllercard_show', {'id': card.id}) }}"> show </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %} 
